header {
  background-color: #43b1e0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}
body{
  margin:0;
}

header img{
  height: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: auto;
}

nav{
  border-left:1px solid black;
  height:5rem;
  width:100%;
  display:flex;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

nav ul li{
  margin: 0 2.0rem;
}

nav ul li a{
  color:white;
  text-decoration:none;
  font-size:0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

main{
  background-color: rgb(255, 248, 239);
  font-family: Arial, Helvetica, sans-serif;
}

main img{
  width:100%;
}


.original-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.original-text  h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 3.5rem;
}



.original-text  p{
  text-align: center;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  line-height: 2rem;
  margin-top: 0.5rem;
}
.original-text  button{
  background-color: red;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 0.2rem;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin-top: 1.3rem;
}

.card-grid{
  display: grid;
}


.card-grid.grid1{
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 5rem 10% 0;
}
.card-grid.grid2{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin: 0 20%;
}



.card-item h2{
  font-size: 1rem;
  margin:1rem 1rem;
}

.card-item p{
  line-height: 2rem;
  font-size: 0.8rem;
  margin: 1rem 1rem 4rem;
}